
@(listKSASubEventAMS: List[MdlKSASubEventAMS], idSubEventAMS: Long)
    
    @import slick.AppDB
    
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
    <div class="column span-20 last">
		  <h3>
		    <a href="#" title="@AppDB.dal.Definitions.getDefinition("Knowledge")">Knowledge</a>,
		    <a href="#" title="@AppDB.dal.Definitions.getDefinition("Skill")">Skills</a>, and
			<a href="#" title="@AppDB.dal.Definitions.getDefinition("Behavior")">Behaviors</a> (KSB)			
            for @AppDB.dal.SubEventAMS.select(idSubEventAMS).get.vDescription
          </h3>
          <h4>These linkages will allow program directors to see where key elements of learning, needed to achieve student outcomes,
          are evaluated during the program.  Some of these graded events will be used as direct assessment of those outcomes.</h4>
	      <a href="#" title="@AppDB.dal.Definitions.getDefinition("KSB Guidance")">KSB Guidance</a>		

		  <table>
			<tr>
				<th>KSA</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

            @listKSASubEventAMS.map { vKSASubEventAMS =>
    			
    		<tr>

    		@defining(AppDB.dal.KSA.select(vKSASubEventAMS.vKSA).get){pkModel =>
      		  <td><a href="@routes.TopicObjectivesController.showTopicObjectives(vKSASubEventAMS.vKSA)">@pkModel.selectIdentifier._2</a></td>
    		}


    			<td><a href="@routes.KSASubEventAMSController.show(vKSASubEventAMS.vidKSASubEventAMS.get)">Show</a></td>
    			<td><a href="@routes.KSASubEventAMSController.edit(vKSASubEventAMS.vidKSASubEventAMS.get)">Edit</a></td>
    	  		<td>
    	  			<form action="@routes.KSASubEventAMSController.delete(vKSASubEventAMS.vidKSASubEventAMS.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    		</tr>
    

      		}

      	</table>
      <a href="@routes.KSASubEventAMSController.create(idSubEventAMS)">Link new knowlege and skills to this sub-event</a>
    </div>
  </div>
  }
