
@(listGradedRequirements: List[MdlGradedRequirements], idCourses: Long)(implicit user: MdlUser)
    
    @import slick.AppDB
    @import persistence._
    
    
    @coursePage(slick.AppDB.dal.Courses.select(idCourses).get) {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
    <div class="column span-18 last">
		  <h3>Graded Events Listing</h3>
		  <a href="#" title="@AppDB.dal.Definitions.getDefinition("Graded Events Guidance")">Graded Events Guidance</a> 		  
		  <table>
			<tr>
				<th>Course</th>
				<th>Name (Click for detailed information)</th>
				<th>Event Description</th>
				<th>Type of Event</th>
				<th>Points</th>
				<th>Lesson Assigned</th>
				<th>Lesson Completed</th>
				@*
				<th>Edit</th>
				<th>Delete</th>
				*@
			</tr>

            @listGradedRequirements.map { vGradedRequirements =>
    			
    		<tr>

    		@defining(slick.AppDB.dal.Courses.select(vGradedRequirements.vCourse).get){pkModel =>
      		  <td><a href="@routes.CoursesController.show(vGradedRequirements.vCourse)">@pkModel.selectIdentifier._2</a></td>
    		}
				<td><a href="@routes.GradedRequirementsController.show(vGradedRequirements.vGradedEventIndex.get)">@vGradedRequirements.vGradedEventName</a></td>
				<td>@vGradedRequirements.vEventDescription</td>

    		@defining(AppDB.dal.EventType.select(vGradedRequirements.vTypeOfEvent).get){pkModel =>
      		  <td>@pkModel.selectIdentifier._2</td>
    		}
				<td>@vGradedRequirements.vPoints</td>
				<td>@vGradedRequirements.vLessonassigned</td>
				<td>@vGradedRequirements.vLessoncompleted</td>
				@*
     			<td><a href="@routes.GradedRequirementsController.edit(vGradedRequirements.vGradedEventIndex.get)">Edit</a></td>
    	  		<td>
    	  			<form action="@routes.GradedRequirementsController.delete(vGradedRequirements.vGradedEventIndex.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    	  		*@
    		</tr>
    

      		}

      	</table>
      @*<a href="@routes.GradedRequirementsController.create(idCourses)">Create new graded events</a>*@
    </div>
  </div>
  }
