
@(listPrograms: List[MdlPrograms])
    
@import persistence._    
    
    @main("Systems Net", "Systems Engineering Curriculum Management Interface") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
    <div class="column span-20 last">
		  <h3>Programs Listing</h3>
		  <table>
			<tr>
				<th>Program</th>
				<th>Name</th>
				<th>Slogan</th>
				<th>Program Director</th>
				<th>Department</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

            @listPrograms.map { vPrograms =>
    			
    		<tr>
				<td>@vPrograms.vProgram</td>
				<td><a href="@routes.ProgramsController.show(vPrograms.vidPrograms.get)">@vPrograms.vName</a></td>
				<td>@vPrograms.vSlogan</td>

				
		    @defining(SqlFaculty.select(vPrograms.vProgramDirector)){pkModel =>
      		  <td><a href="@routes.FacultyController.showFaculty(vPrograms.vProgramDirector)">@pkModel.selectIdentifier._2</a></td>
    		}
				

    		@defining(SqlDepartments.select(vPrograms.vDepartment)){pkModel =>
      		  <td><a href="@routes.DepartmentsController.showDepartments(vPrograms.vDepartment)">@pkModel.selectIdentifier._2</a></td>
    		}

    			
    			<td><a href="@routes.ProgramsController.edit(vPrograms.vidPrograms.get)">Edit</a></td>
    	  		<td>
    	  			<form action="@routes.ProgramsController.delete(vPrograms.vidPrograms.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    		</tr>
    

      		}

      	</table>
      <a href="@routes.ProgramsController.create(0)">Create new Programs</a>
    </div>
  </div>
  }
