
@(listKSAGradedEvent: List[MdlKSAGradedEvent], idGradedRequirements: Long)
    
    @import slick.AppDB
    @import persistence._
    
    
    @gradedEventPage(idGradedRequirements) {

    
    <div class="column span-18 last">
		  <h3>
		    <a href="#" title="@AppDB.dal.Definitions.getDefinition("Knowledge")">Knowledge</a>,
		    <a href="#" title="@AppDB.dal.Definitions.getDefinition("Skill")">Skills</a>, and
			<a href="#" title="@AppDB.dal.Definitions.getDefinition("Behavior")">Behaviors</a> (KSB)			
            for @AppDB.dal.GradedRequirements.select(idGradedRequirements).get.vGradedEventName
          </h3>
	      <a href="#" title="@AppDB.dal.Definitions.getDefinition("KSB Guidance")">KSB Guidance</a>		

		  <table>
			<tr>
				<th>KSB</th>
				<th>GradedEvent</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

            @listKSAGradedEvent.map { vKSAGradedEvent =>
    			
    		<tr>

    		@defining(SqlTopicObjectives.select(vKSAGradedEvent.vKSA)){pkModel =>
      		  <td><a href="@routes.TopicObjectivesController.showTopicObjectives(vKSAGradedEvent.vKSA)">@pkModel.selectIdentifier._2</a></td>
    		}

    		@defining(AppDB.dal.GradedRequirements.select(vKSAGradedEvent.vGradedEvent).get){pkModel =>
      		  <td><a href="@routes.GradedRequirementsController.show(vKSAGradedEvent.vGradedEvent)">@pkModel.selectIdentifier._2</a></td>
    		}

    			<td><a href="@routes.KSAGradedEventController.show(vKSAGradedEvent.vidKSAGradedEvent.get)">Show</a></td>
    			<td><a href="@routes.KSAGradedEventController.edit(vKSAGradedEvent.vidKSAGradedEvent.get)">Edit</a></td>
    	  		<td>
    	  			<form action="@routes.KSAGradedEventController.delete(vKSAGradedEvent.vidKSAGradedEvent.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    		</tr>
    

      		}

      	</table>
      <a href="@routes.KSAGradedEventController.create(idGradedRequirements)">Link new knowledge and skills to the graded event</a>
    </div>
  </div>
  }
