
@(listPerfIndKSASubEventAMS: List[MdlPerfIndKSASubEventAMS], idPerformanceIndicator: Long)
    
    @import slick.AppDB
    
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
    <div class="column span-20 last">
		  <h3>PerfIndKSASubEventAMS Listing</h3>
		  <table>
			<tr>
				<th>idPerfIndKSASubEventAMS</th>
				<th>PerformanceIndicator</th>
				<th>KSASubEventAMS</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

            @listPerfIndKSASubEventAMS.map { vPerfIndKSASubEventAMS =>
    			
    		<tr>
				<td>@vPerfIndKSASubEventAMS.vidPerfIndKSASubEventAMS</td>

    		@defining(AppDB.dal.PerformanceIndicator.select(vPerfIndKSASubEventAMS.vPerformanceIndicator).get){pkModel =>
      		  <td><a href="@routes.PerformanceIndicatorController.show(vPerfIndKSASubEventAMS.vPerformanceIndicator)">@pkModel.selectIdentifier._2</a></td>
    		}

    		@defining(AppDB.dal.KSASubEventAMS.select(vPerfIndKSASubEventAMS.vKSASubEventAMS).get){pkModel =>
      		  <td><a href="@routes.KSASubEventAMSController.show(vPerfIndKSASubEventAMS.vKSASubEventAMS)">@pkModel.selectIdentifier._2</a></td>
    		}

    			<td><a href="@routes.PerfIndKSASubEventAMSController.show(vPerfIndKSASubEventAMS.vidPerfIndKSASubEventAMS.get)">Show</a></td>
    			<td><a href="@routes.PerfIndKSASubEventAMSController.edit(vPerfIndKSASubEventAMS.vidPerfIndKSASubEventAMS.get)">Edit</a></td>
    	  		<td>
    	  			<form action="@routes.PerfIndKSASubEventAMSController.delete(vPerfIndKSASubEventAMS.vidPerfIndKSASubEventAMS.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    		</tr>
    

      		}

      	</table>
      <a href="@routes.PerfIndKSASubEventAMSController.create(idPerformanceIndicator, 0)">Create new PerfIndKSASubEventAMS</a>
    </div>
  </div>
  }
