
@(listKSAPerfIndicator: List[MdlKSAPerfIndicator], idPerformanceIndicator: Long)
    
    @import slick.AppDB
    @import persistence._
    
    
    @main("Systems Net", "Systems Engineering Curriculum Management Interface") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
    <div class="column span-20 last">
		  <h4>
		  	<p>Knowledge and skills linked to:</p> 
		  	<p>@AppDB.dal.PerformanceIndicator.select(idPerformanceIndicator).get.vPerformanceIndicator</p>
		  </h4>
		  <table>
			<tr>
				<th>KSA</th>
				<th>Show</th>
				<th>Delete</th>
			</tr>

            @listKSAPerfIndicator.map { vKSAPerfIndicator =>
    			
    		<tr>

    		@defining(SqlTopicObjectives.select(vKSAPerfIndicator.vKSA)){pkModel =>
      		  <td><a href="@routes.TopicObjectivesController.showTopicObjectives(vKSAPerfIndicator.vKSA)">@pkModel.selectIdentifier._2</a></td>
    		}

    			<td><a href="@routes.KSAPerfIndicatorController.show(vKSAPerfIndicator.vidKSAPerfIndicator.get)">Show</a></td>
    	  		<td>
    	  			<form action="@routes.KSAPerfIndicatorController.delete(vKSAPerfIndicator.vidKSAPerfIndicator.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    		</tr>
    

      		}

      	</table>
      <a href="@routes.KSAPerfIndicatorController.create(idPerformanceIndicator)">Link new knowledge and skills to this performance indicator</a>
    </div>
  </div>
  }
