
@(listProgramOutcomes: List[MdlProgramOutcomes], idPrograms: Long)
    
    @import slick.AppDB
    
    
    @programPage(AppDB.dal.Programs.select(idPrograms).get) {

	<div>
	  <div class="column span-4">
		 
	  </div>

    
    <div class="column span-18 last">
		  <h3>Student Learning Outcomes</h3>
		  <table>
			<tr>
				<th>Program</th>
				<th>Program Outcome</th>
				<th>Link to Performance Indicators</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

            @listProgramOutcomes.map { vProgramOutcomes =>
    			
    		<tr>

    		@defining(AppDB.dal.Programs.select(vProgramOutcomes.vProgram).get){pkModel =>
      		  <td><a href="@routes.ProgramsController.show(vProgramOutcomes.vProgram)">@pkModel.selectIdentifier._2</a></td>
    		}
				<td>@vProgramOutcomes.vProgramOutcome</td>

    			<td><a href="@routes.PerfIndProgramOutcomesController.list(vProgramOutcomes.vProgramOutcomeNumber.get)">Link to Performance Indicators</a></td>
    			<td><a href="@routes.ProgramOutcomesController.edit(vProgramOutcomes.vProgramOutcomeNumber.get)">Edit</a></td>
    	  		<td>
    	  			<form action="@routes.ProgramOutcomesController.delete(vProgramOutcomes.vProgramOutcomeNumber.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    		</tr>
    

      		}

      	</table>
      <a href="@routes.ProgramOutcomesController.create(idPrograms)">Create new student learning outcomes</a>
    </div>
  </div>
  }
