
@(listSubEventCourseObj: List[MdlSubEventCourseObj], idSubEventAMS: Long)
    
    @import slick.AppDB
    
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

		@defining(AppDB.dal.SubEventAMS.select(idSubEventAMS).get){subEventModel =>

    <div class="column span-20 last">
		  <h3>@subEventModel.selectIdentifier._2 to course objective mappings</h3>
		  <table>
			<tr>
				<th>Sub Event</th>
				<th>Course Objective</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

            @listSubEventCourseObj.map { vSubEventCourseObj =>
    			
    		<tr>


      		  <td><a href="@routes.SubEventAMSController.show(vSubEventCourseObj.vSubEventAMS)">@subEventModel.selectIdentifier._2</a></td>


    		@defining(AppDB.dal.CourseObjectives.select(vSubEventCourseObj.vCourseObj).get){pkModel =>
      		  <td><a href="@routes.CourseObjectivesController.show(vSubEventCourseObj.vCourseObj)">@pkModel.selectIdentifier._2</a></td>
    		}

    			<td><a href="@routes.SubEventCourseObjController.show(vSubEventCourseObj.vidSubEventCourseObj.get)">Show</a></td>
    			<td><a href="@routes.SubEventCourseObjController.edit(vSubEventCourseObj.vidSubEventCourseObj.get)">Edit</a></td>
    	  		<td>
    	  			<form action="@routes.SubEventCourseObjController.delete(vSubEventCourseObj.vidSubEventCourseObj.get)" method="POST">
    	  			<input type="button" onclick="if (confirm('Are you sure you want to delete?\n  This action cannot be undone.')) submit();" value="delete">
    	  			</form>
    	  		</td>
    		</tr>
    

      		}

      	</table>
      <a href="@routes.SubEventCourseObjController.create(idSubEventAMS)">Map @subEventModel.selectIdentifier._2 to new course objective</a>
    </div>
		}
  </div>
  }
