
@(vSubGradedEvent: MdlSubGradedEvent)

    @import slick.AppDB
		  
    
    @main("Systems Net", "Systems Engineering Curriculum Management Interface") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>SubGradedEvent Information</h3>
		  <dl>

		  	<dt>idSubGradedEvent</dt>
		  	<dd>@Html(vSubGradedEvent.vidSubGradedEvent.toString)</dd>

    		@defining(AppDB.dal.GradedRequirements.select(vSubGradedEvent.vGradedEvent).get){pkModel =>
      		  <dt>GradedEvent</dt>
      		  <dd><a href="@routes.GradedRequirementsController.show(vSubGradedEvent.vGradedEvent)">@pkModel.selectIdentifier._2</a></dd>
    		}

		  	<dt>Description</dt>
		  	<dd>@Html(vSubGradedEvent.vDescription.toString)</dd>

		  	<dt>Points</dt>
		  	<dd>@Html(vSubGradedEvent.vPoints.toString)</dd>
	       </dl>
     <div>
       <a href="@routes.SubGradedEventController.list(vSubGradedEvent.vGradedEvent)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
