
@(vGradedRequirements: MdlGradedRequirements)

    @import slick.AppDB
    @import persistence._
		  
    
    @gradedEventPage(vGradedRequirements.vGradedEventIndex.get) {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>@vGradedRequirements.vGradedEventName</h3>
		  <dl>

    		@defining(SqlCourses.select(vGradedRequirements.vCourse)){pkModel =>
      		  <dt>Course</dt>
      		  <dd><a href="@routes.CoursesController.showCourses(vGradedRequirements.vCourse)">@pkModel.selectIdentifier._2</a></dd>
    		}

		  	<dt>EventDescription</dt>
		  	<dd>@Html(vGradedRequirements.vEventDescription.toString)</dd>

    		@defining(AppDB.dal.EventType.select(vGradedRequirements.vTypeOfEvent).get){pkModel =>
      		  <dt>TypeOfEvent</dt>
      		  <dd>@pkModel.selectIdentifier._2</dd>
    		}

		  	<dt>Points</dt>
		  	<dd>@Html(vGradedRequirements.vPoints.toString)</dd>

		  	<dt>Lesson Assigned</dt>
		  	<dd>@Html(vGradedRequirements.vLessonassigned.toString)</dd>

		  	<dt>Lesson Completed</dt>
		  	<dd>@Html(vGradedRequirements.vLessoncompleted.toString)</dd>
	       </dl>
     <div>
       <a href="@routes.GradedRequirementsController.list(vGradedRequirements.vCourse)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
