
@(vKSAPerfIndicator: MdlKSAPerfIndicator)

    @import slick.AppDB
    @import persistence._
		  
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>KSAPerfIndicator Information</h3>
		  <dl>

		  	<dt>idKSAPerfIndicator</dt>
		  	<dd>@Html(vKSAPerfIndicator.vidKSAPerfIndicator.toString)</dd>

    		@defining(SqlTopicObjectives.select(vKSAPerfIndicator.vKSA)){pkModel =>
      		  <dt>KSA</dt>
      		  <dd><a href="@routes.TopicObjectivesController.showTopicObjectives(vKSAPerfIndicator.vKSA)">@pkModel.selectIdentifier._2</a></dd>
    		}

    		@defining(SqlTerminalLearningObjective.select(vKSAPerfIndicator.vPerformanceIndicator)){pkModel =>
      		  <dt>PerformanceIndicator</dt>
      		  <dd><a href="@routes.TerminalLearningObjectiveController.showTerminalLearningObjective(vKSAPerfIndicator.vPerformanceIndicator)">@pkModel.selectIdentifier._2</a></dd>
    		}
	       </dl>
     <div>
       <a href="@routes.KSAPerfIndicatorController.list(vKSAPerfIndicator.vPerformanceIndicator)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
