
@(vGradedRequirements: MdlGradedRequirements)

    @import persistence._
		  
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>GradedRequirements Information</h3>
		  <dl>

		  	<dt>GradedEventIndex</dt>
		  	<dd>@Html(vGradedRequirements.vGradedEventIndex.toString)</dd>

    		@defining(SqlCourses.select(vGradedRequirements.vCourse)){pkModel =>
      		  <dt>Course</dt>
      		  <dd><a href="@routes.CoursesController.showCourses(vGradedRequirements.vCourse)">@pkModel.selectIdentifier._2</a></dd>
    		}

		  	<dt>GradedEventName</dt>
		  	<dd>@Html(vGradedRequirements.vGradedEventName.toString)</dd>

		  	<dt>EventDescription</dt>
		  	<dd>@Html(vGradedRequirements.vEventDescription.toString)</dd>

		  	<dt>TypeOfEvent</dt>
		  	<dd>@Html(vGradedRequirements.vTypeOfEvent.toString)</dd>

		  	<dt>Points</dt>
		  	<dd>@Html(vGradedRequirements.vPoints.toString)</dd>

		  	<dt>Lessonassigned</dt>
		  	<dd>@Html(vGradedRequirements.vLessonassigned.toString)</dd>

		  	<dt>Lessoncompleted</dt>
		  	<dd>@Html(vGradedRequirements.vLessoncompleted.toString)</dd>
	       </dl>
     <div>
       <a href="@routes.GradedRequirementsController.list(vGradedRequirements.vCourse)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
