
@(vMappingGradedEvent: MdlMappingGradedEvent)

    @import slick.AppDB
		  
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>MappingGradedEvent Information</h3>
		  <dl>

		  	<dt>idMappingGradedEvent</dt>
		  	<dd>@Html(vMappingGradedEvent.vidMappingGradedEvent.toString)</dd>

    		@defining(AppDB.dal.GradedRequirements.select(vMappingGradedEvent.vGradedEvent).get){pkModel =>
      		  <dt>GradedEvent</dt>
      		  <dd><a href="@routes.GradedRequirementsController.show(vMappingGradedEvent.vGradedEvent)">@pkModel.selectIdentifier._2</a></dd>
    		}

    		@defining(AppDB.dal.GradedEventAMS.select(vMappingGradedEvent.vGradedEventAMS).get){pkModel =>
      		  <dt>GradedEventAMS</dt>
      		  <dd><a href="@routes.GradedEventAMSController.show(vMappingGradedEvent.vGradedEventAMS)">@pkModel.selectIdentifier._2</a></dd>
    		}
	       </dl>
     <div>
       <a href="@routes.MappingGradedEventController.list(0)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
