
@(vPrograms: MdlPrograms)

    @import persistence._
		  
    
    @programPage(vPrograms) {


    
     <div class="column span-16">
		  <h3>@vPrograms.vName Program</h3>
		  <h4>
		    <i>@vPrograms.vSlogan</i><br>
		    <em>Program Director:</em>  
		    @defining(SqlFaculty.select(vPrograms.vProgramDirector)){pkModel =>
      		  <a href="@routes.FacultyController.showFaculty(vPrograms.vProgramDirector)">@pkModel.selectIdentifier._2</a>
    		}  
		  </h4>

		  @Html(vPrograms.vInformation.toString)


     <div>
       <a href="@routes.ProgramsController.list(0)">Return to programs listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
