
@(vProgramOutcomes: MdlProgramOutcomes)


  @import slick.AppDB
  @import persistence.SqlTopics
		  
  @defining(AppDB.dal.Programs.select(vProgramOutcomes.vProgram).get) { vProgram =>
    @programPage(AppDB.dal.Programs.select(vProgramOutcomes.vProgram).get) {

	<script type="text/javascript">
	  $(document).ready(function() {
  		$(  "#accordion"  ).accordion({ collapsible: true });
  		$(  "#accordion"  ).accordion( {active: false} );
 	  });
	</script>

    
      <div class="column span-14">
        <h3>Student Learning Outcome:  @vProgramOutcomes.vProgramOutcome
        <br>Supporting Performance Indicators: </h3>
	    <div id="accordion">
		  @defining(AppDB.dal.PerformanceIndicator.selectByProgramOutcome(vProgramOutcomes.vProgramOutcomeNumber.get)) { perfIndList =>
	        @perfIndList.map { perfInd =>
	          <h3>@perfInd.vPerformanceIndicator</h3>
	          <div>
	            
	            <table>
	              <tr>
		  	        <th>Knowledge, Skill, or Behavior</th>
		  	        <th>Courses</th>
		  	      </tr>
		  	      
		  	      @AppDB.dal.KSAPerfIndicator.joinKSAByPerfIndicator(perfInd.vidPerformanceIndicator.get).map { ksa =>
		  	           	
		  	        <tr>
		  	          @defining(SqlTopics.select((AppDB.dal.KSA.select(ksa._1).get).vTopic).vTopic) { topicName =>
		  	            <td><b>@topicName</b><br>@ksa._3:  @ksa._2</td>
		  	          }
		  	          <td>  
		  	            <table>
		  	              <tr>
		  	                <th>Course</th>
		  	                <th>Lessons</th>
		  	                <th>Graded Events</th>
		  	              </tr>		  	            
		  	              @AppDB.dal.KSA.buildKSATeachDataAMSByProgramAndKSA(vProgram.vidPrograms.get, ksa._1).map { teachData =>

		  	              <tr>  
		  	                <td><a href="@routes.CoursesController.homeCourses(teachData.courseIndex)">@teachData.courseNumber</a></td>
		  	                <td>@teachData.lessons.map { lsn =>
		  	                  <a href="@routes.LessonsController.showLessons(lsn.lessonIndex)">@lsn.lessonNumber</a>
		  	                }</td>
		  	                <td>
		  	                  <table>
		  	                    <tr>
		  	                      <th>Graded Event</th>
		  	                      <th>Sub Event</th>
		  	                      <th>Grade</th>
		  	                    </tr>		  	                
		  	                	@teachData.gradedEventResults.map { gradedEvent =>

		  	                      <tr>
		  	                        <td><a href="@routes.GradedEventAMSController.show(gradedEvent.eventId)">@gradedEvent.eventName</a></td>
		  	                        <td><a href="@routes.SubEventAMSController.show(gradedEvent.subEventId)">@gradedEvent.subEventDescription</a></td>
		  	                        <td>@Utils.formatDouble2Places(gradedEvent.score)
		  	                      </tr>
		  	                    }    
		  	                  </table>
		  	                </td>  
		  	              </tr>   
		  	              }
		  	            </table>    
		  	          </td>
		  	        </tr>
		  	      }  
		  	    </table>           
	          </div>
	        }
	      }
	    </div>
	  </div>  
        <div>
          <a href="@routes.ProgramOutcomesController.list(vProgramOutcomes.vProgram)">Return to listing</a>
        </div>
	  </div>
	  
      <div class="column span-4 last">
      </div>
    }
  }
