
@(vGradedRequirements: MdlGradedRequirements)

    @import slick.AppDB
    @import persistence._
		  
    
    @gradedEventPage(vGradedRequirements.vGradedEventIndex.get) {
    
     <div class="column span-14">
		  <h3>@vGradedRequirements.vGradedEventName</h3>
		  <dl>

		  	<dt>Description</dt>
		  	<dd>@Html(vGradedRequirements.vEventDescription.toString)</dd>

    		@defining(AppDB.dal.EventType.select(vGradedRequirements.vTypeOfEvent).get){pkModel =>
      		  <dt>TypeOfEvent</dt>
      		  <dd>@pkModel.selectIdentifier._2</dd>
    		}

		  	<dt>Points</dt>
		  	<dd>@Html(vGradedRequirements.vPoints.toString)</dd>

		  	<dt>Lesson Assigned</dt>
		  	<dd>@Html(vGradedRequirements.vLessonassigned.toString)</dd>

		  	<dt>Lesson Completed</dt>
		  	<dd>@Html(vGradedRequirements.vLessoncompleted.toString)</dd>
	       </dl>
     <div>
       <a href="@routes.GradedRequirementsController.list(vGradedRequirements.vCourse)">Return to listing</a>
     </div>
   </div>
   <div class="column span-4 last">
   
		 @defining(AppDB.dal.GradedRequirementLinks.selectByGradedRequirement(vGradedRequirements.vGradedEventIndex.get)) { listLinks =>
		 <ul id="menu">
		   <li id="label">Files and links for @vGradedRequirements.vGradedEventName</li>
		   @listLinks.map { vGradedRequirementLink =>
			 <li><a href="@vGradedRequirementLink.vLink">@vGradedRequirementLink.vDescription</a></li>
		   }
		 
		 }
   
   </div>
   
  }
