
@(vKSASubGradedEvent: MdlKSASubGradedEvent)

    @import slick.AppDB
    @import persistence._
		  
    
    @main("Systems Net", "Systems Engineering Curriculum Management Interface") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>KSASubGradedEvent Information</h3>
		  <dl>

		  	<dt>idKSASubGradedEvent</dt>
		  	<dd>@Html(vKSASubGradedEvent.vidKSASubGradedEvent.toString)</dd>

    		@defining(SqlTopicObjectives.select(vKSASubGradedEvent.vKSA)){pkModel =>
      		  <dt>KSA</dt>
      		  <dd><a href="@routes.TopicObjectivesController.showTopicObjectives(vKSASubGradedEvent.vKSA)">@pkModel.selectIdentifier._2</a></dd>
    		}

    		@defining(AppDB.dal.SubGradedEvent.select(vKSASubGradedEvent.vSubGradedEvent).get){pkModel =>
      		  <dt>SubGradedEvent</dt>
      		  <dd><a href="@routes.SubGradedEventController.show(vKSASubGradedEvent.vSubGradedEvent)">@pkModel.selectIdentifier._2</a></dd>
    		}

	       </dl>
     <div>
       <a href="@routes.KSASubGradedEventController.list(vKSASubGradedEvent.vSubGradedEvent)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
