
@(vStudents: MdlStudents)

    @import slick.AppDB
		  
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>Students Information</h3>
		  <dl>

		  	<dt>idStudents</dt>
		  	<dd>@Html(vStudents.vidStudents.toString)</dd>

		  	<dt>StudentId</dt>
		  	<dd>@Html(vStudents.vStudentId.toString)</dd>

		  	<dt>Lastname</dt>
		  	<dd>@Html(vStudents.vLastname.toString)</dd>

		  	<dt>Firstname</dt>
		  	<dd>@Html(vStudents.vFirstname.toString)</dd>

		  	<dt>MajorAMS</dt>
		  	<dd>@Html(vStudents.vMajorAMS.toString)</dd>

		  	<dt>GradYear</dt>
		  	<dd>@Html(vStudents.vGradYear.toString)</dd>

    		@defining(AppDB.dal.Programs.select(vStudents.vProgram).get){pkModel =>
      		  <dt>Program</dt>
      		  <dd><a href="@routes.ProgramsController.show(vStudents.vProgram)">@pkModel.selectIdentifier._2</a></dd>
    		}
	       </dl>
     <div>
       <a href="@routes.StudentsController.list(0)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
