
@(vGradesSubEventAMS: MdlGradesSubEventAMS)

    @import slick.AppDB
		  
    
    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>

    
     <div class="column span-16">
		  <h3>GradesSubEventAMS Information</h3>
		  <dl>

		  	<dt>idGradesSubEventAMS</dt>
		  	<dd>@Html(vGradesSubEventAMS.vidGradesSubEventAMS.toString)</dd>

    		@defining(AppDB.dal.Students.select(vGradesSubEventAMS.vStudent).get){pkModel =>
      		  <dt>Student</dt>
      		  <dd><a href="@routes.StudentsController.show(vGradesSubEventAMS.vStudent)">@pkModel.selectIdentifier._2</a></dd>
    		}

    		@defining(AppDB.dal.SubEventAMS.select(vGradesSubEventAMS.vSubEventAMS).get){pkModel =>
      		  <dt>SubEventAMS</dt>
      		  <dd><a href="@routes.SubEventAMSController.show(vGradesSubEventAMS.vSubEventAMS)">@pkModel.selectIdentifier._2</a></dd>
    		}

		  	<dt>Points</dt>
		  	<dd>@Html(vGradesSubEventAMS.vPoints.toString)</dd>

		  	<dt>StudentID</dt>
		  	<dd>@Html(vGradesSubEventAMS.vStudentID.toString)</dd>
	       </dl>
     <div>
       <a href="@routes.GradesSubEventAMSController.list(vGradesSubEventAMS.vSubEventAMS)">Return to listing</a>
     </div>
	</div>
   <div class="column span-4 last">
   </div>
  </div>
  }
