
@(f: Form[MdlKSAPerfIndicator], newEntry: Int)

@import helper._
@import persistence._

<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/dynamicTopicOptions.js")"></script>

    @main("Systems Net", "Systems Body of Knowledge") {
	<div>
	  <div class="column span-4">
		 
	  </div>


<div class="column span-20 last">
    <fieldset>
    @helper.form(routes.KSAPerfIndicatorController.saveList) {

		  
            @defining(f("fidKSAPerfIndicator")) { fidKSAPerfIndicator =>
                <input type="hidden" name="@fidKSAPerfIndicator.name" id="@fidKSAPerfIndicator.id" value="@fidKSAPerfIndicator.value">
			}

            @defining(f("fPerformanceIndicator")) { fPerformanceIndicator =>
                <input type="hidden" name="@fPerformanceIndicator.name" id="@fPerformanceIndicator.id" value="@fPerformanceIndicator.value">
                
		  <h4>
		  	<p>@SqlTerminalLearningObjective.select(fPerformanceIndicator.value.get.toLong).vTerminalLearningObjective</p>
		  </h4>
			
			<p>Select the knowledge and skill below to link them to this performance indicator.</p>
			@defining(SqlTerminalLearningObjective.select(fPerformanceIndicator.value.get.toLong).vTopic) { topicId =>
		      <script type-"text/javascript">
				$(document).ready(function(){
					var checkboxdiv = $('#ksaCheckBoxList')
					var topicIndex = @topicId;
					var performanceIndicator = @fPerformanceIndicator.value.get.toLong
					getNewCheckboxes('/getKSAJsonByTopic/' + performanceIndicator + '/' + topicIndex, checkboxdiv, 'fKSA');

				});
			  </script>

			}
				
			<div id="ksaCheckBoxList">
			</div>                        

       		  <fieldset style="margin-top: 10px;">
          		<input type="submit" value="Submit" />
          		<a href="@routes.KSAPerfIndicatorController.list(fPerformanceIndicator.value.get.toLong)">Cancel and return to listing</a>
      		  </fieldset>
      		}
        }
	  	</fieldset></div>
    </div>
  </div>
  }
