@(f: Form[MdlGradesAMS])

@main("Systems Net", "Systems Body of Knowledge") {
	
	@helper.form(action = routes.GradesAMSController.saveGradesAMSUpload, 'enctype -> "multipart/form-data") {
		
		Select the AMS query file that contains the grades information.  It should be a comma-separated value file with the following columns in order
		<ol>
		  <li>USMA ID</li>USMA_ID,evnt_nbr,descr_shrt,crse_nbr,mrks_ernd
		  <li>Graded Event Number</li>
		  <li>Event Name</li>
		  <li>Event Description</li>
		  <li>Course Number</li>
		  <li>Academic Year</li>
		  <li>Academic Term (1 or 2)</li>		  
		  <li>Points Earned</li>
		</ol>
	    
	    <input type="file" name="gradesAMSFile">
	    
	    <p>
	        <input type="submit">
	    </p>
	    
	}	
	
	
}