
@(f: Form[MdlKSAPerfIndicator], newEntry: Int)

@import helper._
@import persistence._
@import slick.AppDB 

<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/dynamicTopicOptions.js")"></script>


    @main("Systems Net", "Systems Engineering Curriculum Management Interface") {
	<div>
	  <div class="column span-4">
		 
	  </div>


<div class="column span-20 last">
    <fieldset>
    @helper.form(routes.KSAPerfIndicatorController.saveList) {

		  
            @defining(f("fidKSAPerfIndicator")) { fidKSAPerfIndicator =>
                <input type="hidden" name="@fidKSAPerfIndicator.name" id="@fidKSAPerfIndicator.id" value="@fidKSAPerfIndicator.value">
			}

            @defining(f("fPerformanceIndicator")) { fPerformanceIndicator =>
                <input type="hidden" name="@fPerformanceIndicator.name" id="@fPerformanceIndicator.id" value="@fPerformanceIndicator.value">
                
		  <h4>
		  	<p>@(AppDB.dal.PerformanceIndicator.select(fPerformanceIndicator.value.get.toLong).get).vPerformanceIndicator</p>
		  </h4>
		<script type-"text/javascript">
		$(document).ready(function(){
			var checkboxdiv = $('#ksaCheckBoxList')
			$("#topicSelect").change(function() {
				var topicIndex = $("#topicSelect").val();
				var performanceIndicator = @fPerformanceIndicator.value.get.toLong
				getNewCheckboxes('/getKSAJsonByTopic/' + performanceIndicator + '/' + topicIndex, checkboxdiv, 'fKSA');
			});
		});
		</script> 			
			<p>First select the topic for the knowledge and skills you will link to this performance indicator.</p>
			@defining(SqlTopics.all.sortWith((v1: MdlTopics, v2: MdlTopics) => v1.vTopic < v2.vTopic)) { topicList =>
			  <select id="topicSelect">
			    <option value=""></option>
			  @topicList.map { topic =>
			    <option value="@topic.vTopicsIndex">@topic.vTopic</option>
			  }
			  </select>
			}

				
			<div id="ksaCheckBoxList">
			</div>                        

       		  <fieldset style="margin-top: 10px;">
          		<input type="submit" value="Submit" />
          		<a href="@routes.KSAPerfIndicatorController.list(fPerformanceIndicator.value.get.toLong)">Cancel and return to listing</a>
      		  </fieldset>
      		}
        }
	  	</fieldset></div>
    </div>
  </div>
  }
