
@(f: Form[MdlProgramOutcomes], newEntry: Int)

@import helper._
@import persistence._


    @main("Systems Net", "Systems Engineering Curriculum Management Interface") {
	<div>
	  <div class="column span-4">
		 
	  </div>


@defining(f("fEvaluation").value.get.toLong) { vEvaluation =>
<div class="column span-20 last">
    <fieldset>
    @helper.form(routes.ProgramOutcomesController.save(newEntry)) {


        @if(newEntry == 0) {
		  
            @defining(f("fProgramOutcomeNumber")) { fProgramOutcomeNumber =>
                <input type="hidden" name="@fProgramOutcomeNumber.name" id="@fProgramOutcomeNumber.id" value="@fProgramOutcomeNumber.value">
			}
    
		}
		@if(newEntry != 0) {
     		
            @defining(f("fProgramOutcomeNumber")) { fProgramOutcomeNumber =>
                <input type="hidden" name="@fProgramOutcomeNumber.name" id="@fProgramOutcomeNumber.id" value="@fProgramOutcomeNumber.value">
			}
    
     	}

        @defining(f("fEvaluation")) { fEvaluation =>
            <input type="text" name="@fEvaluation.name" id="@fEvaluation.id" value="@fEvaluation.value">
        }

        @defining(f("fProgram")) { fProgram =>
                <input type="hidden" name="@fProgram.name" id="@fProgram.id" value="0">
			}
    
            @textarea(field = f("fProgramOutcome"), args = 'rows -> 2, 'cols -> 100, '_label-> "ProgramOutcome")
        	@*@inputText(f("fProgramOutcome"), '_label -> "ProgramOutcome")*@

       		<fieldset style="margin-top: 10px;">
          		<input type="submit" value="Submit" />
          		<a href="@routes.ProgramOutcomesController.list(vEvaluation)">Cancel and return to listing</a>
      		</fieldset>
        }
	  	</fieldset></div>
    </div>
  </div>
  }
  }
