
@(f: Form[MdlGradedEventAMSLinks], newEntry: Int)

@import helper._
@import persistence._


    @main("Systems Net", "Systems Engineering Curriculum Management Interface") {
	<div>
	  <div class="column span-4">
		 
	  </div>


@defining(f("fvGradedEventAMS").value.get.toLong) { vvGradedEvetnAMS =>  
<div class="column span-18 last">
    <fieldset>
    @form(action = routes.GradedEventAMSLinksController.postFile(newEntry), 'enctype -> "multipart/form-data") {
		  
            @defining(f("fidGradedEventAMSLinks")) { fidGradedEventAMSLinks =>
                <input type="hidden" name="@fidGradedEventAMSLinks.name" id="@fidGradedEventAMSLinks.id" value="@fidGradedEventAMSLinks.value">
			}

            @defining(f("fLink")) { fLink =>
                <input type="hidden" name="@fLink.name" id="@fLink.id" value="">
			}

            @defining(f("fIsFileLink")) { fIsFileLink =>
                <input type="hidden" name="@fIsFileLink.name" id="@fIsFileLink.id" value="true">
			}

            @textarea(field = f("fDescription"), args = 'rows -> 2, 'cols -> 100, '_label-> "Description")
        	@*@inputText(f("fDescription"), '_label -> "Description")*@
        	
        	<input type="file" name="gradedEventAMSFile" size="40">

            @defining(f("fvGradedEventAMS")) { fvGradedEventAMS =>
                <input type="hidden" name="@fvGradedEventAMS.name" id="@fvGradedEventAMS.id" value="@fvGradedEventAMS.value">
			}
    
       		<fieldset style="margin-top: 10px;">
          		<input type="submit" value="Submit" />
          		<a href="@routes.GradedEventAMSLinksController.list(vvGradedEvetnAMS)">Cancel and return to listing</a>
      		</fieldset>
        }
	  	</fieldset></div>
    </div>
  </div>
  }
  }
