@(content: Html)
@import persistence._


@main("Systems Net", "Administration") {

	<div class="column span-4 colborder">

		  <ul id="menu">
			<li><a href="@routes.FacultyController.listFaculty">Faculty</a></li>
			<li><a href="@routes.UserController.listUser">Users</a></li>
			<li><a href="@routes.CourseOfferingsController.listCourseOfferings">Course Offerings</a></li>
			<li><a href="@routes.LessonDateController.listLessonDate">Lesson Date</a></li>
			<li><a href="@routes.DefinitionsController.list(0)">Definitions</a></li>
		  </ul>

	</div>

	<div>
		@content
	</div>
}