@(course: MdlCourses)(content: Html)

@main("Systems Net", course.vCourseIDNumber) {

	<div class="column span-4 colborder">
		<nav id="leftnav">
		  <ul>
			<li><a href="@routes.CoursesController.homeCourses(course.vidCourse)">Home</a></li>
			<li><a href="@routes.CoursesController.showCourses(course.vidCourse)">Information</a></li>
			<li><a href="@routes.CourseReferencesController.listCourseReferences(course.vidCourse)">Course References</a></li>
			<li><a href="@routes.CourseLinksController.listCourseLinks(course.vidCourse)">Course Links and Files</a></li>
			<li><a href="@routes.LessonsController.listLessons(course.vidCourse)">Syllabus</a></li>
			<li>Topics</li>
		  </ul>
		</nav>
	</div>

	<div>
		@content
	</div>
	
	
}